body{
    font-family: Almarai;
}

.card .read-more:hover{
    font-size: 14px;
}

.card:hover{
    box-shadow: 0px 0px 8px 1px rgb(0, 255, 102);
    transform: scale(1.1);
}

.card{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    transition: 0.3s;
    margin: 3rem;
}

h3{
    font-weight: bolder;
}

footer{


    background-color: #005125;
    color: white;
    text-align: center;
    margin-bottom: -800px;
}
a{
    text-decoration: none;
}

footer{
    margin-top: 230px;
    margin-bottom: -400px;
}